@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;700&family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

html,
body {
  background-color: #f9fafb;
  color: #111827;
  overflow: hidden;
  /* Hide scrollbars to force single screen view */
  height: 100vh;
  width: 100vw;
}

/* Custom scrollbar for specific inner containers if needed */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}